/* Bon courage :) */
/* Merci toi aussi */

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/FontAwesome.otf");
    src: url("../fonts/FontAwesome.ttf");
}
@font-face {
    font-family: "PT Serif";
    src: url("../fonts/PT_Serif-Web-Regular.ttf");
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Bold.ttf");
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
}

/* ----------------------- Navbar ----------------------- */
nav {
    width: 100%;
    height: 60px;
    background-color: #212121;
    position: fixed;
    z-index: 20;
    margin-top: -68px;
}

#navigation {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

#navigation > li a {
    color: #818181;
    text-decoration: none;
}

#navigation > li a:hover {
    color: white;
    border-bottom: solid 2px white;
    /*transition: color 0.3s, border 0.3s;*/
}

#navigation > li a:active {
    color: white;
}

.nav_item {
    margin: 20px 8% 20px -4%;
    font-family: "PlayfairDisplay";
    font-size: 13px;
    letter-spacing: 1px;
}

.nav_search {
    margin: 20px 0% 20px 8%;
    font-size: 16px;
}

/* ----------------------- Header ----------------------- */
/*TITLE*/
#site_title {
    width: 100%;
    text-align: center;
    margin: 68px 0px; /*228px de hauteur entre la navbar et l'image*/
}

#site_title img {
    width: 431px;
    margin-top: 45px;
}

#site_title > h2 {
    font-style: italic;
    font-weight: bolder;
    font-size: 14px;
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 15px;
}
.site_slogan::before {
    display: inline-block;
    content: "";
    border-top: 1px solid #DEDEDE;
    width: 60px;
    margin: 3px 12px;
}
.site_slogan::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #DEDEDE;
    width: 60px;
    margin: 3px 12px;
}

/*FEATURED POST*/
.featured_post_img {
    width: 100%;
    height: 560px;
    overflow: hidden;
    margin-bottom: -150px;
}

header img {
    width: 100%;
    margin-top: -8%;
}

/*FEATURED POST > text box*/
.featured_post_box {
    width: 480px;
    height: 158px;
    position: relative;
    bottom: 270px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    outline: solid 1px #DEDEDE;
    outline-offset: -6px;
}

#featured_post h2 a {
    color: #313131;
    font-family: "PlayfairDisplay";
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
    top: 33px;
}

#featured_post h3{
    font-size: 10px;
}
#featured_post h3 a {
    color: #a60505;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: relative;
    top: 45px;
}

#featured_post h4 {
    color: #8c8c8c;
    font-family: 'Raleway-Regular';
    font-size: 13px;
    font-weight: 500;
    position: relative;
    top: 30px;
}
#featured_post span {
    font-style: italic;
}
#featured_post span a {
    color: #313131;
}

.date_box {
    z-index: 1;
    width: 150px;
    height: 32px;
    position: relative;
    bottom: 230px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #323232;
    padding-top: 6px;
}
.date_box p {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

/*-----------------------------------------------------------------------------------------------------*/
/* Ligne d'article */
.article h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}
.article h3 a {
    color: #a60505;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.article h2 {
    text-align: center;
}
.article h2 a {
    text-align: center;
    font-family: "PlayfairDisplay";
    color: #313131;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.article h2 a:hover {
    color: #8c8c8c;
    text-decoration: none;
    transition: 0.5s;
}
.article h4 {
    text-align: center;
    color: #8c8c8c;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.article p {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    line-height: 25px;
}

.article span {
    font-style: italic;
}
.article span a {
    color: black;
}

/* Pagination */

.pagination ul li a {
    color: #8c8c8c;
}
/* About */
.about h2 {
    text-transform: uppercase;
    font-family: "PlayfairDisplay";
    font-size: 16px;
}
.about h3 {
    font-family: "PlayfairDisplay";
    font-size: 16px;
}
.about p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 28px;
}
/* Séparation*/
.separation {
    height: 1px;
    background-color: #8c8c8c;
    margin: 5px 0px 5px 0px ;
    margin-bottom: 20px;

}

.separation-about {
    height: 5px;
    border-top: solid 1px #a60505;
    border-bottom: solid 1px #a60505;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------------------------------*/
/* ----------------------- Footer ----------------------- */
footer {
    width: 100%;
    height: 480px;
    background-color: #212121;
}

/*INSTAGRAM PICTURES*/
#insta_pics {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow: hidden;
    padding-left: 0px;
}

#insta_pics li {
    margin-top: -2.5%;
}

#insta_box {
    position: relative;
    bottom: 110px;
    width: 170px;
    height: 50px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding-top: 15px;
    font-family: "PlayfairDisplay";
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 20px;
}

/*SOCIAL_NAV*/
#nav_social {
    width: 1170px;
    height: 98px;
    margin: -60px auto -40px;
    padding-top: 25px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    border-bottom: solid 1px #4A4A4A;
}

#nav_social li{
    font-size: 14px;
    padding: 4px 0;
    margin-right: 25px;
    height: 45%;
    font-family: serif;
}

#nav_social li a {
    color: #999999;
    text-decoration: none;
    font-family: "PlayfairDisplay";
    letter-spacing: 1px;
}

#nav_social li a:hover {
    color: white;
    transition: color 0.8s;
}

.nv_icon {
    width: 36px;
    height: 36px;
    border: solid 1px #999999;
    border-radius: 100%;
    margin: 0 10px;
    text-align: center;
    padding-top: 10px;
}

.nv_icon:hover {
    color: #212121;
    background-color: white;
    border-color: white;
    transition: 0.5s;
}

/*FOOTER_INFOS*/
#credits {
    text-align: center;
    position: relative;
    top: 80px;
}

#credits p {
    color: #999999;
    font-family: "Lato", sans-serif;
    font-style: italic;
    margin-top: 30px;
    font-size: 14px;
}

#back_to_top {
    width: 100px;
    margin: 20px auto;
    font-family: "Raleway-Regular", sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#back_to_top a {
    text-decoration: none;
    color: #999999;
}
#back_to_top a:hover {
    color: white;
    transition: 0.5s;
}
